.table {
    width: 90%;
}

/*.item_table {*/
/*    display: table-row;*/
/*}*/

.cell {
    border: 1px solid black;
    padding: 10px;
}

img {
    width: 15px;
    height: 15px;
}

.input_search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input_pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}